.VideoMedia,
.VideoMedia iframe {
  max-width: 40rem;
  height: 25rem;
}

@media (max-width: 425px) {
  .VideoMedia,
  .VideoMedia iframe {
    width: 23rem;
  }
}

@media (max-width: 320px) {
  .VideoMedia,
  .VideoMedia iframe {
    width: 20rem;
    height: 20rem;
  }
}
