@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

:root {
  --dark-bg-color: #001024;
  --light-bg-color: #ffffff;
  --sec-light-bg-color: #d9d9d9;
  --sec-dark-bg-color: #474747;

  --primary-color: #00c19c;
  --primary-hover-color: #00e8bc;
  --primary-press-color: #009c7e;

  --primary-font-color: #212121;
  --secondary-font-color: #6e6e6e;

  --light-heading: #ffffff;

  --menu-item-bg-color: #404c5b;
  --menu-item-font-color: #00c29bbf;
  --nav-item-pressed: #dff3ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4,
p {
  font-size: 0.875rem;
}

small {
  font-size: 0.75rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .close {
  display: none;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
} */

.slide-in {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-out {
  animation: slide-out 1s forwards;
  -webkit-animation: slide-out 1s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
