.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100vw;
  height: 3.75rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--light-bg-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  box-shadow: 0px 2px 6px rgba(33, 33, 33, 0.25);
}

.header button {
  border: none;
  outline: none;
  background-color: transparent;

  padding: 0;
  margin: 0;
}

.header button img {
  cursor: pointer;
}

.header div {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header .person__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: calc(100vh - 3.75rem);
  width: 13rem;
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 3.75rem;

  justify-content: space-between;
  background-color: var(--dark-bg-color);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  grid-area: nav;
}

.nav__invisible {
  display: none;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav ul li,
.nav button {
  background-color: var(--menu-item-bg-color);
  color: var(--menu-item-font-color);
  width: 12rem;
  height: 2.75rem;
  padding: 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  text-align: start;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.nav ul li:hover,
.nav button:hover {
  background-color: var(--primary-color);
  color: var(--light-heading);
}

.nav ul li:hover div svg path,
.nav button:hover svg path {
  fill: var(--light-heading);
}

.nav ul li:active,
.nav button:active {
  background-color: var(--primary-press-color);
  color: var(--nav-item-pressed);
}

.nav ul li:active div svg path,
.nav button:active svg path {
  fill: var(--nav-item-pressed);
}

.nav ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li div:first-of-type,
.nav button div:first-of-type {
  max-width: 30%;
}

.nav ul li div:last-of-type,
.nav button div:last-of-type {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.nav button {
  border: none;
  outline: none;
}

.layout section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}
